# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# Environment variables and secrets
.env
.env.local
.env.*.local
*.pem
secrets.json
.secrets/